<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <app-sidenav></app-sidenav>
    </nav>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <div *ngIf='(user | async)'>
        <router-outlet></router-outlet>
      </div>
      <div *ngIf='!(user | async)'>
        <div *ngIf="(pageSwitch == 'login')">
          <app-login></app-login>
          <div class="container">
            <button class="btn btn-link d-none d-sm-inline pseudo-link" (click)="gotoForgotPassword()">Forgot Password?</button>
            <button class="btn btn-dark d-none d-sm-inline" (click)="gotoSignup()">Sign up</button>
            <div class="form-signin d-block d-sm-none" style="padding-top: 0!important;">
              <button class="btn btn-link btn-block pseudo-link" (click)="gotoForgotPassword()">Forgot Password?</button>
              <button class="btn btn-dark btn-block" (click)="gotoSignup()">Sign up</button>
            </div>
          </div>
        </div>
        <div *ngIf="(pageSwitch === 'forgotpass')">
          <h1 class="d-none d-md-block">
            Reset Password
            <button class="btn btn-primary float-right mx-2" (click)="gotoSignup()">Signup</button>
            <button class="btn btn-outline-dark float-right" (click)="gotoLoginPage()">Back</button>
          </h1>
          <h2 class="d-block d-md-none" style="margin-bottom: 15px;padding-bottom: 6px;border-bottom: 1px solid #eee;">
            Reset Password
            <button class="btn btn-outline-dark float-right" (click)="gotoLoginPage()">Back</button>
          </h2>
          <app-forgot-password></app-forgot-password>
          <div class="container d-block d-md-none">
            <button class="btn btn-primary btn-block" (click)="gotoSignup()">Signup</button>
          </div>
        </div>
        <div *ngIf="(pageSwitch === 'signuppage')">
          <h1 class="d-none d-md-block">
            Signup
            <button class="btn btn-outline-dark float-right" (click)="gotoLoginPage()">Back</button>
          </h1>
          <h2 class="d-block d-md-none" style="margin-bottom: 15px;padding-bottom: 6px;border-bottom: 1px solid #eee;">
            Signup
            <button class="btn btn-outline-dark float-right" (click)="gotoLoginPage()">Back</button>
          </h2>
          <app-signup></app-signup>
        </div>
      </div>
    </main>
  </div>
</div>